<div class="row animated fadeIn fast">

    <div class="col-4">

        <div class="card">

            <div class="card-body">

                <h3>Usuarios</h3>

                <div class="alert alert-info">
                    <a href="" class="mb-0">
                        No hay usuarios con ese término
                    </a>
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Deshmukh</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

    <div class="col-4">

        <div class="card">

            <div class="card-body">

                <h3>M&eacute;dicos</h3>

                <div class="alert alert-info">
                    <a href="" class="mb-0">
                        No hay m&eacute;dicos con ese término
                    </a>
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Deshmukh</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

    <div class="col-4">

        <div class="card">

            <div class="card-body">

                <h3>Hospitales</h3>

                <div class="alert alert-info">
                    <a href="" class="mb-0">
                        No hay hospitales con ese término
                    </a>
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Deshmukh</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

</div>
